#slider {
    .slide-wrapper {
        background-size: cover;
        width: 100%;
        height: 600px;
        display: flex;
        align-items: center;
        justify-content: space-around;

        .slide-text {
            color: #fff;
            font-size: 38px;
            width: 30%;
            text-transform: uppercase;
            font-weight: bold;
        }

        .slide-cta {
            a {
                background: #099fdc;
                padding: 20px 30px;
                color: #fff;
                font-weight: bold;
                text-decoration: none;
                text-transform: uppercase;
                transition: 0.5s ease;

                &:hover {
                    background: #0975a0;
                }
            }
        }
    }

    .owl-carousel {
        position: relative;
        width: 100%;
    }

    .owl-prev, .owl-next {
        position: absolute;
        top: 45%;

        span {
            width: 48px;
            height: 48px;
            position: absolute;
            margin-top: -31px;
            border-bottom: 6px solid;
            border-left: 6px solid;
            border-color: #fff;
        }

    }

    .owl-prev {
        left: 2%;
        span {
            transform: rotate(45deg);
        }
    }

    .owl-next {
        right: 5%;
        span {
            transform: rotate(-135deg);
        }
    }
}