html {
	box-sizing: border-box;
}

*,
*:before,
*:after { /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: inherit;
}

body {
	background: $color__background-body; /* Fallback for when there is no custom background color defined. */
}

hr {
	background-color: $color__background-hr;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

@import "lists";

img {
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
}

figure {
	margin: 1em 0; /* Extra wide images within figure tags don't overflow the content area. */
}

@import "tables";

.widget-area {
	display: flex;

	.col {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	ul {
		margin: 0;
		list-style: none;
	}
}

.wrapper {
	width: auto;
}

/*--------------------------------------------------------------
## Last posts
--------------------------------------------------------------*/

#last-posts {
	padding: 5% 10%;

	.last-posts-title {
		padding: 0 10%;
		text-align: center;
		font-size: 30px;
		font-weight: bold;
		color: $color__text-main;
	}

	.posts-wrapper {
		display: flex;
		flex-wrap: wrap;

		.ilogica-post {
			width: map-get($columns, 3 );
			padding: 10px;

			.ilogica-post-title {
				a {
					font-size: 20px;
					font-weight: bold;
					color: $color__text-main;

					&:hover {
						color: $color__text-main-hover;
					}
				}
			}
		}
	}	
}