.site-footer {
    display: flex;
    background: $color__background-hr;
    padding: 0 10%;
    color: $color__link-menu;

    &:before {
        content: none;
    }

    .widget-area {
        width: map-get($columns, 2);

        .col {
            width: map-get($columns, 3);

            a {
                color: $color__link-footer;
                text-decoration: none;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }

    .wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        width: map-get($columns, 2);

        ul {
            margin: 0;
            list-style: none;
            padding: 0;

            li {
                float: left;
            }
        }
        .menu-menu-principal-container {
            
        }
    }
}