.site-header {
    display: flex;
    justify-content: space-between;
    padding: 0 10%;
    align-items: center;
    background: $color__background-hr;
    font-family: $font__text;

    .main-navigation {
        width: auto;
        margin-right: 14%;

        li {
            margin: 0;
        }
    }

    &:before {
        content: none;
    }

    &:after {
        content: none;
    }
}