.contact-content {
    padding: 0 10%;
}

.contact-form {
    padding: 0 10%;
    margin-bottom: 40px;
    .cf_form_parent {
        margin: 0 auto;
    }
}

.contact-wrapper {
    display: flex;
    margin-top: 25px;
    
    .contact-form {
        width: 50%;
    }

    .contact-content {
        width: 50%;
    }
}