// Rem output with px fallback
@mixin font-size($sizeValue: 1) {
	font-size: ($sizeValue * 16) * 1px;
	font-size: $sizeValue * 1rem;
}

// Center block
@mixin center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

// Clearfix
@mixin clearfix() {
	content: "";
	display: table;
	table-layout: fixed;
}

// Clear after (not all clearfix need this also)
@mixin clearfix-after() {
	clear: both;
}

// Column width with margin
@mixin column-width($numberColumns: 3) {
	width: map-get( $columns, $numberColumns ) - ( ( $columns__margin * ( $numberColumns - 1 ) ) / $numberColumns );
	margin: 0 $columns__margin;
}

// Media Queries

@mixin xs {
	@media (max-width: #{$xs}) {
		@content;
	}
}

@mixin sm {
	@media (max-width: #{$sm}) {
		@content;
	}
}

@mixin md {
	@media (max-width: #{$md}) {
		@content;
	}
}

@mixin lg {
	@media (max-width: #{$lg}) {
		@content;
	}
}

@mixin xl {
	@media (max-width: #{$xl}) {
		@content;
	}
}